<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="<%= wants_path %>" data-icon="home">Home</a></li>
      <li><a href="<%= shops_path %>" data-icon="shop">Shop</a></li>
      <li><a href="<%= user_path(current_user) %>" data-icon="gear">Setting</a></li>
    </ul>
  </div>
</div>
